body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
}

a {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;

    border:solid 2px #e2dfda;
    color: rgb(199, 199, 199);
    text-decoration: none;
    padding: 15px 17px;
    margin: 1vw;
}

a:hover {
    color: #FFF;
}
