body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

div {
    margin-top: 35vh;
    text-align: center;
}

a {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;

    border: solid 2px #e2dfda;
    color: rgb(199, 199, 199);
    text-decoration: none;
    padding: 15px 17px;
    margin: 1vw;
}

a:hover {
    color: #FFF;
}

a.small {
    font-size: 10px;
    color: rgba(199, 199, 199, 0.5);
    border-color: rgba(199, 199, 199, 0.5);
}